@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&family=Poppins&display=swap");
@import "../../styles/variaveis";
@import "../../styles/breakpoints";

.conteiner {
  @apply flex flex-col items-center bg-red-700;
}

.formulario {
  font-family: "Michroma", sans-serif;
  background-image: url("../../images/FormaGoldSmall.svg");
  background-repeat: no-repeat;
  background-position: top left;
  @media screen and (min-width: 1050px) {
    background-image: url("../../images/FormaGoldMed.svg"),
      url("../../images/FormaGoldMedInvert.svg");
    background-position: top left, top right;
  }
  @media screen and (min-width: 1400px) {
    background-image: url("../../images/FormaGold.svg"),
      url("../../images/FormaGoldInvert.svg");
  }
  @apply flex flex-col h-[150vh] items-center w-full;
  &__cabecalho {
    @apply flex w-full flex-row justify-between;
  }
  &__casal {
    background-image: url("../../images/ramos.png"),
      url("../../images/aliancas.png");
    background-repeat: no-repeat;
    background-position: bottom, top;
    background-size: 60%, 12%;
    font-family: "Gwendolyn", cursive;
    @apply self-start;
    @media screen and (min-width: 1050px) {
      @apply self-center mt-4;
    }
    &__titulo {
      @apply pt-4 pb-6 px-6 text-4xl text-center text-black mt-1 cursor-pointer;
      @media screen and (min-width: 1050px) {
        @apply text-6xl mt-5 pb-8;
      }
    }
  }
  &__lateraisEsq {
    background-image: url("../../images/flores.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    rotate: 350deg;
    transform: rotateY(180deg);
    width: 365px;
    @media screen and (max-width: 1050px) {
      @apply hidden;
    }
  }
  &__lateraisDir {
    background-image: url("../../images/flores.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    rotate: 375deg;
    width: 365px;
    @media screen and (max-width: 1050px) {
      @apply hidden;
    }
  }
  &__titulo {
    text-shadow: black 0.1em 0.1em 0.1em;
    @apply text-center font-bold text-2xl text-rubi mt-20 p-4;
    @media screen and (min-width: $tablet) {
      @apply text-4xl;
    }
  }
  &__textos {
    font-family: 'Poppins', cursive;
    @apply text-base m-5 w-[75%] text-center;
  }
  &__opcoes {
    @apply flex flex-col items-center;
  }
}

.icon{
  @apply w-5 h-5 text-gray-500 dark:text-gray-400 fill-current;
}

.presenca {
  @apply my-6 text-xl text-center font-bold text-green-600;
}

/* Estilos para o modo escuro */
// @media (prefers-color-scheme: dark) {
//   .conteiner {
//     @apply bg-black;
//   }
//   .formulario__titulo {
//     @apply text-white;
//   }
//   .formulario__textos {
//     @apply text-white;
//   }
//   .formulario__opcoes {
//     @apply bg-gray-900;
//   }
//   .presenca {
//     @apply text-white;
//   }
// }