@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&family=Poppins&display=swap");
@import "../../styles/variaveis";
@import "../../styles/breakpoints";


.modoDeVizualizacao{
  @apply flex flex-row h-10 items-center;
  @media screen and (min-width: 900px) {
    @apply w-1/2;
  }
  &__iconGrid{
    @apply  h-6 w-10 mx-1 border border-black;
  }
  &__iconList{
    @apply  h-6 w-10 mx-1;
  }
}

.corpo {
  font-family: "Poppins", sans-serif;
  background-image: url("../../images/Forma1.svg");
  background-repeat: no-repeat;
  background-position: top left;
  @apply h-max flex flex-col items-center;
  @media screen and (min-width: $tablet) {
    background-image: url("../../images/FormaMed1.svg"),;
    background-position: top left;
  }
  &__casal {
    background-image: url("../../images/ramos.png"),
      url("../../images/aliancas.png");
    background-repeat: no-repeat;
    background-position: bottom, top;
    background-size: 70%, 15%;
    font-family: "Gwendolyn", cursive;
    @apply self-start py-8 px-6 text-4xl text-black mt-1 cursor-pointer;
    @media screen and (min-width: $tablet) {
      background-size: 54%, 12%;
      @apply text-6xl mt-5;
    }
  }
  &__titulo {
    font-family: "Michroma", sans-serif;
    @apply text-center font-bold text-2xl text-[#D15A7C] mt-16 p-4;
    @media screen and (min-width: $tablet) {
    @apply text-4xl;
    }
  }
  &__grade {
    @apply my-2 text-center w-full flex flex-col items-center;
    @media screen and (min-width: $desktop_xsm) {
      @apply flex-row flex-wrap items-center justify-center;
    }
  }
  &__lista {
    @apply my-2 text-center w-full flex flex-col items-center;
    @media screen and (min-width: $desktop_xsm) {
      @apply flex-row flex-wrap items-center justify-center;
    }
  }
}

.botoes__tipo__up {
  @apply animate-bounce flex flex-col items-center bg-azulMarinho border-metallicSeaweed h-16 w-44 justify-center;
  color: #c5dfff;
  text-align: center;
  margin: 1em;
  margin-bottom: 0;
  border: 4px solid;
  border-radius: 1000px;
  &:hover {
    @apply bg-metallicSeaweed;
  }
  &:active {
    background-color: #fc7071;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

.seta {
  @apply animate-waving-hand h-6;
}

// @media (prefers-color-scheme: dark) {
//   .modoDeVizualizacao {
//     @apply bg-gray-900 text-white;
//   }
//   .corpo {
//     @apply text-white;
//   }
//   .corpo__casal {
//        @apply text-white;
//   }
//   .corpo__titulo {
//     @apply text-white;
//   }
//   .corpo__grade {
//     @apply text-white;
//   }
//   .corpo__lista {
//     @apply text-white;
//   }
//   .botoes__tipo__up {
//     @apply bg-gray-900 border-white;
//     color: #c5dfff;
//     &:hover {
//       @apply bg-white;
//     }
//     &:active {
//       background-color: #fc7071;
//       box-shadow: 0 5px #666;
//       transform: translateY(4px);
//     }
//   }
//   .seta {
//     @apply fill-white;
//   }
// }